.v-header {
  &__wrapper {
    background-image: url('../images/night.jpg');
    background-size: cover;
    background-position: center;
  }

  &__data {
    color: #fff;
    &--day {
      font-weight: bold;
      font-size: 36px;
    }
    &--month {
      font-weight: normal;
      font-size: 27px;
    }
  }
}
