$margin: mt, mr, mb, ml;

@for $i from 1 through 10 {
  @each $val in $margin {
    @if $val == mt {
      .mt-#{$i*10/2} {
        margin-top: #{$i * 0.5}rem;
      }
    }

    @else if $val == mr {
      .mr-#{$i*10/2} {
        margin-right: #{$i * 0.5}rem;
      }
    }

    @else if $val == mb {
      .mb-#{$i*10/2} {
        margin-bottom: #{$i * 0.5}rem;
      }
    }

    @else if $val == ml {
      .ml-#{$i*10/2} {
        margin-bottom: #{$i * 0.5}rem;
      }
    }

  }
}
