.v-todo-list {

  &__item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    max-height: 48px;
    background: #fff;
    box-shadow: 0 0 1px rgba(#000, .3%), 0 1px 3px rgba(#000, .26%);
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;

    &:hover {
      background-color: lighten(#000, 90%);
      box-shadow: 2px 2px 4px 1px rgba(#000, .3%);
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    box-shadow: 0 0 4px 1px rgba(#000, .5);
    background-color: #fff;
    &:hover {
      background-color: darken(transparent, 80%);
    }
  }

  &__edit,
  &__text {
    font-size: 24px;
    font-style: italic;
    flex-grow: 1;
    width: 100%;
    padding: 0;
  }
  &__text {
    .completed {
      text-decoration: line-through;
    }
  }

  &__btn {
    font-size: 27px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    &.edit {
      color: lighten($vGreen, 20%);
      &:hover {
        color: lighten($vGreen, 0);
      }
      &::before {
        content: '\f044';
      }
    }

    &.complete {
      color: #5a5656;
      font-size: 16px;
      &::before {
        content: '\f00c';
      }
    }

    &.remove {
      color: lighten($vRed, 20%);
      &:hover {
        color: lighten($vRed, 0);
      }
      &::before {
        content: '\f1f8';
      }
    }
    &.checked {
      color: $vGrey;
      font-size: 20px;
      &::before {
        content: '\f00c';
      }
    }
  }

  &__edit {
    border: 0;
    display: block;
    outline: none;
    line-height: 28px;
    background-color: transparent;
    color: lighten($vGreen, 1%);
    &:focus-visible {
      border: 0;
      outline: none;
    }
  }
}
